# Node.js related
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build outputs
dist/
build/

# Logs
logs/
*.log

# IDE related
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*
!.env.example

# OS related
.DS_Store
Thumbs.db 

.history
.cursor
